/*
 "myfavolours" - global custom colour scheme
 http://userstyles.org/styles/2187
 BEGIN
*/

/*
 summary:
 - basic background = dark grey
 - basic text = light grey
 - "semantic" importance = contrast
 - unvisited links (and form labels) = aquamarine
 - visited links = light green
 - form elements, :hover, :focus, and more

 latest revisions
 2008-08-18: FF3 fix
 2010-01-07: minor fixes
 2011-11-01: view-source, "progressmeters"
*/

@namespace url(http://www.w3.org/1999/xhtml);

/*** init
 - setting basic colours / background
 - disabling (most of) background images
*/

/* Disabling text-indent will bring back text of most of "graphical" headings
 off by default, to comply with "nothing but colours" rule
/on*off/
html *
{ text-indent      : 0
}
/* */

html  ,
/* background-images
 - disable ALL
/on*off/

html * ,

/* OR
 - allow SOME 'buttons'
on*/

html *:not(:empty):not(.Emoticon) ,

/* */

html *:after ,
html *:before
{ /*background-image : none this gets rid of duck in duckduckgo, sad day*/
}

html
{ background-color : #201E1E
; border-color     : #9993A1
}

body
{ background-color : transparent /* sometimes body is not stretched over whole page height */
; border-color     : #9993A1
; color            : #9993A1
}

body#body, window
{ background-color: #201E1E
}

body * ,
html *:after ,
html *:before
{ background-color : #201E1E
; border-color     : #807E83        /* "inherit" is bugged ! */
; color            : #B2BDBF    
; text-shadow      : none       
}
`
/*** semantic blocks
*/

/** top header:
*/

/* - wannabe
*/
.head  ,
.header  ,
*[id*="title"]  ,
*[id*="Title"]  ,
*[id*="head"]  ,
*[id*="Head"]  ,
*[class*="header"]  ,
*[class*="Header"]  ,
*[id*="hlavicka"]  ,
*[id*="Hlavicka"]  ,
*[class*="hlavicka"]  ,
*[class*="Hlavicka"]
{ background-color : #201E1E000
}

/* - real
*/
header  ,
#head  ,
#header  ,
#top
{ background-color : #201E1E
}

/** navigation ( the 'menu predicting magic' )
*/

/* - wannabe
*/
*[id*="nav"] *[class*="page"] ,
.navlist a  ,
.Navlist a  ,
*.navigation a  ,
*[id*="menu"] a  ,
*[id*="Menu"] a  ,
*[id*="navig"] a  ,
*[id*="Navig"] a  ,
*[id*="-nav"] a  ,
*[id*="-Nav"] a  ,
*[id$="nav"] a  ,
*[id$="Nav"] a  ,
*[class*="menu"] a  ,
*[class*="Menu"] a  ,
*[class*="navig"] a  ,
*[class*="Navig"] a  ,
*[class*="-nav"] a  ,
*[class*="-Nav"] a  ,
*[class$="nav"] a  ,
*[class$="Nav"] a
{ background-color : #201E1E000
}

/* - real
*/
label  , /* ! label added, let's see */
nav a  ,
menu a  ,
#menu a  ,
#navigation a
{ background-color : #201E1E
}

div[class*=menu][class*=vertical]
{ background-color: #201E1E
}



/*
 above ID selectors would override below rules
 due # selector priority
 so that's why this :
*/
#menu a:hover  ,
#navigation a:hover ,
*[class*="menu"][class*="item"]:hover
{ background-color : #201E1E
}

/** aside:
*/

/* - wannabe
*/
div[id*="side"]  ,
div[id*="Side"]  ,
div[class*="side"]  ,
div[class*="Side"]
{ background-color : #201E1E000
}

/* - real
*/
aside  ,
.aside  ,
#aside
{ background-color : #201E1E
}

/** footer
*/

footer  ,
div[id*="foot"]  ,
div[class*="foot"]  ,
div[id*="paticka"]  ,
div[class*="paticka"]
{ background-color : #201E1E
}

/** others semantic blocks
 ( yet unimplemented )
*/

/*
article
{ }
#main
{ }
#content
{ }
section  ,
.section
{ }
.divider
{ }
/* */

/** anonymous heading elements
*/

*[class*="heading"]  ,
*[class*="Heading"]  ,
*[id*="heading"]  ,
*[id*="Heading"]  ,
*[class*="nadpis"]  ,
*[class*="Nadpis"]  ,
*[id*="nadpis"]  ,
*[id*="Nadpis"]
{ border-color : #9993A1
; color        : #eee
}

/*** concrete HTML block elements
*/

/** headers
 h1 , h2 , h3 , h4 , h5 , h6
 caption , th , lh , dt , legend
*/
h1
{ background-color : #201E1E
; border-color     : #9993A1
; color            : #B2BDBF
}

h2  ,
h3  ,
h4  ,
h5  ,
h6  ,
caption  , /* table h. */
thead  ,
th  , /* table-row|column h. */
lh  , /* list h. html3. how f***ing usefull element. deprecated. */
dl dt  , /* definition h. */
html fieldset legend   /* form h. */
{ background-color : #201E1E
; border-color     : #9993A1
; color            : #B2BDBF
}

/** other stuff
 now they have the same colour;
 it would be nice if it was distinguishable simply by colour
*/

blockquote  ,
code  ,
tt  , /* code and tt is inline */
xmp  ,
pre
{ background-color : #201E1E000
}

td
{ border-color     : #555
}

hr
{ background-color : #201E1E
; border-color     : #9993A1
; color            : #9993A1
}


/*** concrete HTML inline elements
 - just colour altered
*/

/** emphasis:
*/

/* - wannabe
*/
*[id*="important"]  ,
*[id*="Important"]  ,
*[class*="important"]  ,
*[class*="Important"]
{ border-color : #9993A1
; color        : #B2BDBF
;}

/* --------------------- personal start page -------------------------- */
*[class*="box_1"] h2 {
  color: #F73A3A;
}

*[class*="box_2"] h2 {
  color: #CD5FE1;
}

*[class*="box_3"] h2 {
  color: #38BCED;
}

*[class*="box_4"] h2 {
  color: #57E96F;
}
/* -------------------------------------------------------------- */

/* --------------------- amazon.com -------------------------- */
/* Lightens Amazon used pricing*/
*[class*="a-color-base"] {
	border-color : #9993A1;
	color        : #B2BDBF;
}
/* -------------------------------------------------------------- */

/* --------------------- duckduckgo.com -------------------------- */
*[class*="page-index body--home body--onboarding"] {
	background: #201E1E;
	background-color: #201E1E;
}

*[class*="search--home  js-search-form search--adv search--focus"] {
	background: #3C3A3A;
	background-color: #3C3A3A;
}

*[class*="js-search-input search__input--adv"] {
	background: #3C3A3A;
	background-color: #3C3A3A;
}

*[class*="result__body links_main links_deep"] {
	color: #B2BDBF;
	border-color: #B2BDBF;
}

*[class*="result__title"]:hover {
	color: #B2BDBF;
	border-color: #B2BDBF;
}

*[class*="result__snippet js-result-snippet"] {
	color: #B2BDBF;
	border-color: #B2BDBF;
}

*[class*="result__snippet js-result-snippet"] b {
	color: #E5E5E5;
}

/* -------------------------------------------------------------- */

div#ghx-content-group.ui-sortable {
	background: #201E1E;
	background-color: #201E1E;
	color: #201E1E;
}

*[class*="sticky-wrapper"] {
	background: #201E1E;
	background-color: #201E1E;
	color: #201E1E;
}

span.aui-lozenge.aui-lozenge-error {
	border-color : #080202;
	color        : #0C0404;
	background: #EF393D;
}

/* - wannabe #2
 ( yes, it is NOT semantic, but this is usefull, trust me ;] )
*/
b  ,
b *  ,
i  ,
i *
{ border-color : #9993A1
; color        : #eee
}

/* - real
*/
em  ,
em *  ,
strong  ,
strong *
{ border-color : #9993A1
; color        : #B2BDBF
}

/*** common "semantic" classes
 initally based on WHATWG HTML5 specs draft
 ("semantic classes" have been rejected)
 but here may be very usefull
*/

/** current / active
 usefull especially for
 - "active" tabs,
 - "current" links in menu
*/
#current  ,
#selected  ,
#active  ,
.current  ,
.selected  ,
.active  ,
.current a ,
.selected a  ,
.active a
{ background-color : #201E1E
; color            : #B2BDBF
}

*[id*=Current]  ,
*[id*=Selected]  ,
*[id*=Active]  ,
*[id*=current]  ,
*[id*=selected]  ,
*[id*=active] ,
*[class*=Current]  ,
*[class*=Selected]  ,
*[class*=Active]  ,
*[class*=current]  ,
*[class*=selected]  ,
*[class*=active] ,
*[id*=Current] a ,
*[id*=Selected] a  ,
*[id*=Active] a  ,
*[id*=current] a  ,
*[id*=selected] a  ,
*[id*=active] a ,
*[class*=Current] a  ,
*[class*=Selected] a  ,
*[class*=Active] a  ,
*[class*=current] a  ,
*[class*=selected] a  ,
*[class*=active] a
{ background-color : #201E1E
; color            : #eee
}

/** other not-so-common classes
*/
.copyright
{ color : #ccc
}
.error
{ color : #f66
}
.warning
{ color : #f99
}
.example
{ color : #cff
}
.issue
{ color : #f99
}
.note
{ color : #cff
}
.search
{ color : #B2BDBF
}

/** other funny WHATWG stuff
*/
*[irrelevant]
{
}


/** links and interactive stuff
 that is: links, labels and any other form element
 with :hover / :active / :focus states
*/

/* tables, lets see */
table
{ background-color: #201E1E000
}
thead , tfoot
{ background-color: #201E1E
}


/* "onclick warning"
 raising priority
*/
html body *[onclick]:hover ,
html body *[ondblclick]:hover ,
a[href^='javascript:'] ,
a[href='#']
{ background-color : #201E1E
}

/* properly coded label will behave as unvisited link
*/
label[for]  ,
a:link  ,
a:link *
{ border-color : #9993A1
; color        : #33D185
}

label[for]:focus  ,
label[for]:hover  ,
a:link:focus  ,
a:link:hover
{ background-color : #201E1E
; border-color     : #33D185
; color            : #eff
}

a:link:focus *  ,
a:link:hover *
{ border-color : #9993A1
; color        : #eff
}

a:visited  ,
a:visited *
{ border-color : #9993A1
; color        : #B2BDBF
}

a:visited:focus  ,
a:visited:hover
{ background-color : #201E1E
; border-color     : #9c3
; color            : #B2BDBF
}

a:visited:focus *  ,
a:visited:hover *
{ border-color : #9993A1
; color        : #B2BDBF
}

/* active link. no matter if visited or not
*/
a:active  ,
a:active *
{ border-color : #9993A1
; color        : #f33
}

/** form elems and some IMO neat effects
*/
html button  ,
html select  ,
html input
{ background-color : #201E1E
}

html input[type="password"]
{ background-color : #201E1E
}

html area  ,
html input[type="text"]  ,
html input:not([type])
{ background-color : #201E1E
; color: ##B2BDBF
}

html textarea:hover  ,
html input[type="text"]:hover  ,
html input:not([type]):hover
{
}

html input:hover ,
html button:hover ,
html select:hover ,
html textarea:hover
{ color : ##B2BDBF
; border-color: #ccc
; background-color : #201E1E
}

html textarea:focus  ,
html input:focus  ,
html textarea:focus ,
html button:focus
{ background-color : #201E1E
; border-color     : #999
; color: #ccc
}
html textarea:focus:hover  ,
html input:focus:hover  ,
html button:focus:hover ,
html textarea:focus:hover
{ border-color     : #9993A1
}

html input[type="password"]:focus
{ background-color : #201E1E
}

input[disabled]
{ color : #888
}

/*** fixes and tweaks
 most of them are IMO obsolete
*/


/** FF3 fix, hope it will work
 +2008-08-18+
 is it still necessary?
*/
html button  ,
html select  ,
html input  ,
html textarea
{/*
 -moz-appearance : none
*/
; background-image: none /* these might be also :empty, so thats why this */
}

/** give solid bg to some elems that deserve it
*/

/* dropdowns that was not catched
 * by above 'menu predicting magic'
*/
*[class*='content']  ,
li:hover li
{ background-color : #201E1E
}

/* wd DOM inspector
*/
div[id^=webdeveloper]
{ background-color : #201E1E
}

/* flashblock. bruteforce.
*/
div[style~="url(chrome://flashblock/content/flash.png)"]
{ background-color : #201E1E
}

/* last.fm
*/
td.quantifier > div  ,
div.graph > div#tomGraph
{ background-color : #201E1E
}

/* search hilite
*/
span#__firefox-findbar-search-id
{ background-color : #201E1E
}


*[class*="Overlay"][class*="Dialog"] ,
*[class*="modal"] ,
*[id*="modal"] ,
*[class*="dialog"] ,
*[id*="wrapper"] ,
*[class*="wrapper"] ,
*[id*="Wrapper"] ,
*[class*="Wrapper"] ,
*[id*="tooltip"] ,
*[class*="tooltip"] ,
*[id*="Tooltip"] ,
*[class*="Tooltip"] ,
*[id*="popup"] ,
*[class*="popup"] ,
*[id*="Popup"] ,
*[class*="Popup"] ,
*[id*="flyout"] ,
*[class*="flyout"] ,
*[id*="Flyout"] ,
*[class*="Flyout"] ,
#pop
{ background-color : #201E1E
}
#loading .lpb #lpt
{ background-color: #201E1E
}

div#lbHoverNav a#lbPrev ,
div#lbHoverNav a#lbNext
{ background-color:  transparent
}

/*
 common progressmeters / progressbars
*/
/*
<div class="pas fbQuestionsPollResultsBar" title="Twice?">
<div class="shaded" style="width:25.6%"></div>
*/
div[style^="width:"][style$="%"]
,
div[style^="width:"][style$="%;"]
,
div[class*="progress"][style]
,
div[class*="bar"][style]
{ background-color: #201E1E
}

/*
 hovered images: light background
 helps with dark graphic text with transparency
*/
img:hover
{ background-color: #201E1E
}

/*
FB tohot fix
*/
.fbPhotoSnowboxTagBoxes ,
.tagsWrapper

{ background-color: transparent
}

/*
 ยง view-source
*/

body#viewsource
{ margin: 0
}
body#viewsource
,
body#viewsource pre
{ background-color: #201E1E000
}

body#viewsource .start-tag
{ color: #fca
}
body#viewsource .end-tag
{ color: #fca
}
body#viewsource .comment
{ color: #bbff66
; font-style: normal /* erm :] I hate italics in source code */
}
body#viewsource .cdata
{ color: #eedddd
}
body#viewsource .doctype
{ color: #ffbbbb
}
body#viewsource .pi /* wut? processing instructions? */
{ color: #ff68ff
; font-style: italic
}
body#viewsource .entity
{ color: #ff68ff
}
body#viewsource .text
{ color: #ffe6cc
}
body#viewsource .attribute-name
{ color: #dcf0ff
}
body#viewsource .attribute-value
{ color: #88ddff
}
body#viewsource .markupdeclaration
{ color: #f37
}
body#viewsource .error
,
body#viewsource .error > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value)
{ color: #f33
; font-weight: bold;
}


/*
 forum.pspad.com
*/
span.newmessage
{ color: #f66
}

li#imagebox_bigimages > div,
/*
 google top header
*/
#tphdr.tphdr ,
/*
 google images hover detail
*/
#rg_h.rg_hv
{ background-color: #201E1E
}


/*
 END
 "myfavolours" - global custom colour scheme
 http://userstyles.org/styles/2187
*/
